.sales-report-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #f8f8f8; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .sales-report-container h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333; 
  }
  
  .chart-container {
    padding: 30px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  }

  .date-filter-container {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date-filter-container label {
    margin-right: 10px;
}

.date-filter-container input {
    padding: 5px;
}

.date-filter-container button {
    padding: 5px 10px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
}

.back-button {
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
}

.back-button:hover {
  background-color: #45a049;
}

  
  @media (max-width: 768px) {
    .sales-report-container h2 {
      font-size: 1.5rem;
    }
    .chart-container {
      padding: 20px;
    }
  }
  