/* General styles */
.customer-start-order-button h1 {
    font-size: 2rem;
    font-weight: 500;
}

.customer-start-order-button .shopping-cart {
    font-size: 10rem;
}

.landing-page-button {
    width: 30rem;
}

.landing-page-button h2 {
    font-size: 2rem;
}

.landing-page-button svg {
    font-size: 5rem;
}

.customer-start-order-button{
    color: #FFFFFF;
    background-color: #000000;
}

/* Magnification scaling */
.magnified .customer-start-order-button h1 {
    font-size: 3rem; 
}

.magnified .customer-start-order-button .shopping-cart {
    font-size: 15rem; 
}

.magnified .landing-page-button {
    width: 36rem;
}

.magnified .landing-page-button h2 {
    font-size: 3rem;
}

.magnified .landing-page-button svg {
    font-size: 7rem;
}


@media screen and (min-width: 1300px) {
    .customer-start-order-button h1 {
        font-size: 6rem;
        font-weight: 700;
    }

    .customer-start-order-button .shopping-cart {
        font-size: 250px;
    }

    .landing-page-button {
        width: 600px;
    }

    .landing-page-button h2 {
        font-size: 50px;
    }

    .landing-page-button svg {
        font-size: 100px;
    }
}

/* Media query for larger screens */
@media screen and (min-width: 1710px) {
    .customer-start-order-button h1 {
        font-size: 8rem;
        font-weight: 700;
    }

    .customer-start-order-button .shopping-cart {
        font-size: 12rem;
    }

    .landing-page-button {
        width: 36rem;
    }

    .landing-page-button h2 {
        font-size: 2.5rem;
    }

    .landing-page-button svg {
        font-size: 6rem;
    }
}

@media screen and (min-width: 2000px) {
    .landing-page-button {
        width: 50rem;
    }

    .landing-page-button h2 {
        font-size: 4rem;
    }

    .landing-page-button svg {
        font-size: 8rem;
    }
}
