/* General styles */
.start-order-button h1 {
    font-size: 2rem;
    font-weight: 500;
}

.start-order-button .shopping-cart {
    font-size: 10rem;
}

.landing-page-button {
    width: 30rem;
}

.landing-page-button h2 {
    font-size: 2rem;
}

.landing-page-button svg {
    font-size: 5rem;
}

/* Magnification scaling */
.magnified .start-order-button h1 {
    font-size: 3rem; 
}

.magnified .start-order-button .shopping-cart {
    font-size: 15rem; 
}

.magnified .landing-page-button {
    width: 36rem;
}

.magnified .landing-page-button h2 {
    font-size: 3rem;
}

.magnified .landing-page-button svg {
    font-size: 7rem;
}

/* Media query for larger screens */
@media screen and (min-width: 1300px) {
    .start-order-button h1 {
        font-size: 3rem;
        font-weight: 700;
    }

    .start-order-button .shopping-cart {
        font-size: 12rem;
    }

    .landing-page-button {
        width: 36rem;
    }

    .landing-page-button h2 {
        font-size: 2.5rem;
    }

    .landing-page-button svg {
        font-size: 6rem;
    }
}

@media screen and (min-width: 2000px) {
    .landing-page-button {
        width: 50rem;
    }

    .landing-page-button h2 {
        font-size: 4rem;
    }

    .landing-page-button svg {
        font-size: 8rem;
    }
}
