.menu-page {
  display: flex;
  flex-direction: row;
  height: 100vh; 
}

.menu-sidebar {
  width: 300px; 
  padding: 20px;
  background-color: #6B091F;
  border-right: 1px solid #ccc; 
}

.menu-sidebar h2 {
  color: #ffffff;
  padding: 10px;
  margin: 0;
}

.menu-main-content {
  flex: 1; 
  padding: 20px;
  background-color: #f9f9f9;
}

.menu-items-scroll {
  max-height: 500px; 
  overflow-y: auto; 
  padding: 10px;
}

.menu-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: background-color 0.3s;
  background-color: #000000;
}



.menu-item.selected {
  background-color: #0dda06;
  color: #fff;
}


.entrees-list {
  margin-top: 20px;
}

.entree-item {
  cursor: pointer; 
  margin-bottom: 10px; 
  padding: 10px;
  border: 1px solid #ccc;
}

.entree-item.selected {
  background-color: #ff9800; 
}
