.menu-choices {
  padding: 20px;
  background-color: #000000;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  height: 100%;
}

.menu-choices h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #ffffff;
}

.choices-list {
  height: 80%;
  overflow: auto;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 20px;
  justify-content: center;
}

.choice-item {
  padding: 10px 15px;
  background-color: #ffffff; 
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
}

.choice-item h3 {
  font-size: 30px;
  font-weight: 700;
}

.choice-item.selected {
  background-color: #ff9800;
  color: white;
}

.continue-button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4caf50; /* Default color for active button */
  color: white;
  transition: background-color 0.3s;
}

.continue-button.active {
  background-color: #45a049; /* Slightly darker green when active */
}

/* Style when the button is disabled */
.continue-button:disabled {
  background-color: #ccc; /* Grey background when disabled */
  color: #666; /* Darker text when disabled */
  cursor: not-allowed; /* Change cursor to indicate it's not clickable */
  opacity: 1; /* Ensure opacity is 1 to maintain visibility */
}
  
.menu-choice-image {
  width: 250px;
  height: 200px;
}